
@{
    ViewBag.Title = "PowerBI";
    Layout = "~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";
}

<h2>PowerBI</h2>

<iframe width="600" height="373" src="https://app.powerbi.com/view?r=eyJrIjoiMGI0MzMyMDUtYmVmYS00M2UzLThiNTAtYzNkOTRmYjFlZDJiIiwidCI6IjUxM2MyYWY1LTYzNWQtNDBlZC1hODk5LTI4ODU2MThkMWM5YSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>