
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/HomePage/_LayoutHomeMember.cshtml";
}
<div style="background:yellow; width:100%; height:100%">

    <iframe src="@Url.Action("ChatRoom", "Member")" style="width:100%; height:100%"></iframe>

</div>