@using sln_SingleApartment.ViewModels;
@{ Layout = @"~/Views/Shared/HomePage/_LayoutLogin.cshtml";}
@{

    ViewBag.Title = "LogIn";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed=" ">

        <div class="login-right" style="background-image: url('../../Content/LogIn/assests/images/02.png');background-size:47em 50em">
            <div class="container" style="background-color:aliceblue;padding:80px 0px 80px 0px;">
                <h3 style="color:#f6755e">LOGIN</h3>
                <div class="login-top">

                    <div class="form-info">
                        <form method="post" id="frm" name="frm" onclick="return false">
                            <label style="margin-bottom:10px;font-size:20px">帳號</label>
                            <input type="text" class="text" id="account" placeholder="請輸入帳號 or Email 或 手機號碼" required name="txtaccount">

                            <label style="margin-bottom:10px;font-size:20px">密碼</label>

                            <input type="password" id="pwd" placeholder="請輸入密碼" required name="txtpwd">

                            <ul class="login-icons">
                                <li>
                                    <a href="#"><i class="facebook"> </i><span>Facebook</span></a>
                                </li>

                                <li>
                                    <a href="#" class="go"><i class="google"></i><span>Google +</span></a>
                                </li>
                            </ul>
                            <label class="label-info">
                                <input type="submit" value="會員登入">
                            </label>
                            <div style="display:inline; margin-left:360px" >
                                <input type="button" value="快速登入" onclick="FastLogin()" style="width:100px;  height:45px; padding:0; line-height:45px">
                                <input type="button" value="管理員快速登入" onclick="AdminLogin()" style="width:150px; height:45px; padding:0; line-height:45px">
                                </div>
                        </form>
                    </div>
                    <div class="create">
                        <h4 style="color:#25a2c3">歡迎來到窩居！</h4>
                        <a class="hvr-sweep-to-right" href="../Member/Register">註冊帳號</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

}
<script>
    function FastLogin() {
        $("#account").val("paul123");
        $("#pwd").val("paul123");
    }
    function AdminLogin() {
        $("#account").val("admin");
        $("#pwd").val("adminadmin");
    }
</script>