@using sln_SingleApartment.ViewModels;
@{ Layout = @"~/Views/Shared/HomePage/_LayoutLogin.cshtml";}
@{

    ViewBag.Title = "LogIn";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body data-new-gr-c-s-check-loaded="14.984.0" data-gr-ext-installed=" ">

        <div class="login-right" style="background-image: url('../../Content/LogIn/assests/images/02.png');background-size:47em 50em">
            <div class="container" style="background-color:aliceblue;padding:80px 0px 80px 0px;">
                <h3 style="color:#f6755e">LOGIN</h3>
                <div class="login-top">

                    <div class="form-info">
                        <form method="post" id="frm" name="frm" onclick="return false">
                            <label style="margin-bottom:10px;font-size:20px">帳號</label>
                            <input type="text" class="text" id="account" placeholder="請輸入帳號 or Email 或 手機號碼" required name="txtaccount" autocomplete="off">

                            <label style="margin-bottom:10px;font-size:20px">密碼</label>

                            <input type="password" id="pwd" placeholder="請輸入密碼" required name="txtpwd">
                            <!--我不是機器人-->
                            <div>
                                <div class="g-recaptcha" data-sitekey="6Ldd8wEaAAAAAIm2714PGW1zYIfX4BenxZ3wrm13"></div>
                            </div>
                      
                            <ul class="login-icons">
                                <li style="padding-left:0em;">
                                    <a href="#"><i class="facebook"> </i><span>Facebook</span></a>
                                </li>

                                <li>
                                    <a href="#" class="go"><i class="google"></i><span>Google +</span></a>
                                </li>
                            </ul>
                            <label class="button">
                                <input type="submit" value="會員登入" style="font-size:18px;padding:0px 0px 10px 0px;">
                            </label>
                            @ViewBag.msg
                            <div  style="display:inline; margin-left:13.5em;font-size:18px;">
                                <input type="button" value="快速登入" onclick="FastLogin()" style="width:100px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                                <input type="button" value="管理員快速登入" onclick="AdminLogin()" style="width:150px; height:45px; padding:0; line-height:45px;background-color:#87CEEB">
                            </div>

                            <div class="create">
                                <h4 style="color:#25a2c3;font-weight:600;font-size:30px">歡迎來到窩居！</h4>
                                <a style="background-color:#25a2c3;border-radius:5px;width:150px;text-align:center " class="hvr-sweep-to-right" href="../Member/Register"><label style="color:white">註冊帳號</label></a>
                                <div class="clearfix"> </div>
                            </div>

                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

    </body>

}
<script>
    function FastLogin() {
        $("#account").val("paul123");
        $("#pwd").val("paul123");
    }
    function AdminLogin() {
        $("#account").val("admin");
        $("#pwd").val("adminadmin");
    }


   
</script>