<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
</head>
<body>
    <!-- pages-title-start -->
    <section class="contact-img-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="con-text">
                        <h2 class="page-title">歷史訂單</h2>
                        <p><a href="ShowProductInCart">購物車</a> | 我的訂單</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pages-title-end -->
    <!-- shopping-cart content section start -->
    <div class="shopping-cart-area s-cart-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="s-cart-all">
                        <div class="cart-form table-responsive" id="Orders">
                            <!--PartialOrders-->
                        </div>
                        <div id="OrderDetail">

                        </div>
                    </div>
                </div>
            </div>

            <div class="wc-proceed-to-checkout">
                <p class="return-to-shop">
                    <a class="button wc-backward" onclick="history.back();">回到上一頁</a>
                </p>
            </div>
        </div>
    </div>
    <!-- shopping-cart  content section end -->
    <script>
        $(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("PartialOrders")",
                data: {
                    MemberID: @ViewBag.MemberID
                },
                success: function (data) {
                    $("#Orders").html(data);
                }
            });
        });
    </script>
</body>
</html>
