.list {
    background-color: #e8e8e8;
    overflow: auto;
    padding:15px;
    
}

    .list li {
        list-style-type: none;
        float: left;
        width: 8em;
        /*em比較有彈性 因爲可以根據子的大小去做改變*/
        /*border-bottom: 2px solid #065c6f;*/
        margin-bottom: 15px;
        align-items: center;
    }

        .list li a {
            display: block;
            line-height: 3em;
            text-align: center;
            text-decoration: none;
            
        }

            .list li a:hover {
                background-color: #e76f51;
                color: white;
            }

.conditiontitle{
    align-items:center;
}

.input-check {
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 20px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #626262;
    width: 100%;
}

.is-hover {
    background-color: #e9ecef;
}